/* src/pages/Home.css */
body, html, .container {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-y: auto; 
}

.container {
  width: 450px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.toggle-btn {
  padding: 12px 20px;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  border-radius: 4px;
  font-size: 1em;
}

.toggle-btn.active {
  background-color: #fff;
  color: #4CAF50;
  border: 2px solid #4CAF50;
}

.form-container {
  padding: 15px;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

.registration-title {
  text-align: center;
  margin: 30px 0;
  font-size: 1em;
}

.user-type-container {
  display: flex;
  justify-content: space-around;
  margin: 3px 0 10px 0;
}

.user-type-btn {
  padding: 12px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  border-radius: 4px;
  font-size: 1em;
}

.user-fields {
  margin-top: 8px;
}

label {
  display: block;
  margin-bottom: 2px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="file"] {
  width: 100%;
  padding: 7px;
  margin-bottom: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: #4CAF50;
  border: none;
  color: white;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 1em;
}

button:hover {
  background-color: #45a049;
}

p {
  text-align: center;
}

a {
  color: #4CAF50;
  text-decoration: none;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
}

.notification {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 10px;
  z-index: 1000;
}

.submit-btn {
  margin-top: 12px;
  padding: 10px;
}
