.main-container {
  background-image: url('../assets/background.jpg'); /* Use the image in the same folder */
  background-size: cover; /* Make sure the image covers the entire background */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  width: 80%;
  max-width: 600px;
  border: 3px solid #694e30; /* Very light brown border */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #fbf4eb; /* Very light cream background */
  padding: 16px; /* Optional: Add padding for better spacing */
}

.header {
  display: flex;
  justify-content: center; /* Center-align the buttons */
  padding: 16px;
  background-color: #886948;
  gap: 16px; /* Space between the buttons */
}

.toggle-btn {
  padding: 12px 20px;
  background-color: #dbbb98; /* Light brown background for buttons */
  border: none;
  cursor: pointer;
  transition: 0.3s;
  outline: none;
  border-radius: 4px;
  font-size: 1em;
  color: rgb(67, 37, 6); /* Button text color */
}

.toggle-btn.active {
  background-color: #f3d7b9; /* Lighter brown for active toggle */
  color: #694e30; /* Dark brown text for contrast */
  border: 2px solid #694e30; /* Dark brown border for active toggle */
}

.form {
  display: none;
  padding: 20px;
}

.form.active {
  display: block;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-size: 1em;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #d8b48b; /* Light brown for buttons */
  border: none;
  color: rgb(45, 27, 4); /* White text color */
  border-radius: 4px;
  margin-top: 12px;
  font-size: 1em;
}

button:hover {
  background-color: #c2925e; /* Slightly darker brown on hover */
}

.toggle-link {
  color:#694e30;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
